:root {
  --bgc-color: #FFFFFF;
  --title-color: #212121;
  --logo-color1: #2196F3;
  --logo-color2: #000000;
  --logo-color3: #FFFFFF;
  --hero-text-color: #FFFFFF;
  --hero-bgc-color: #C4C4C4;
  --header-border-color: #ECECEC;
  --button-text-color: #FFFFFF;
  --button-bgc-color: #2196F3;
  --button-active-color: #188CE8;
  --button-project-bgc: #F5F4FA;
  --description-color: #757575;
  --hover-color: #2196F3;
  --footer-bgc-color: #2F303A;
  --footer-adress-color: #FFFFFF;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --advantage-icon: #F5F4FA;
  --team-bgc-color: #F5F4FA;
  --project-border: #EEEEEE;
  --icon-color: #AFB1B8;
  --function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: var(--bgc-color);
  color: var(--title-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

section.no-top-padding {
  padding-top: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container2 {
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.button-hero {
  display: inline-block;
  padding: 10px 32px;
  min-width: 216px;
  border-radius: 4px;
  border: none;
  background-color: var(--button-bgc-color);
  color: var(--button-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.button-hero:active {
  background-color: var(--button-active-color);
}

.button-project {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  background-color: var(--button-project-bgc);
  border-radius: 4px;
  border: none;
  color: var(--title-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  -webkit-transition: color 250ms var(--function), background-color 250ms var(--function), -webkit-box-shadow 250ms var(--function);
  transition: color 250ms var(--function), background-color 250ms var(--function), -webkit-box-shadow 250ms var(--function);
  transition: color 250ms var(--function), box-shadow 250ms var(--function), background-color 250ms var(--function);
  transition: color 250ms var(--function), box-shadow 250ms var(--function), background-color 250ms var(--function), -webkit-box-shadow 250ms var(--function);
}

.button-project:hover,
.button-project:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--button-text-color);
  background-color: var(--hover-color);
}

.button-send {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  min-width: 200px;
  border-radius: 4px;
  border: none;
  background-color: var(--button-bgc-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--button-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.button-sign {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 12px;
  padding: 10px 28px;
  min-width: 200px;
  border-radius: 4px;
  border: none;
  background-color: var(--button-bgc-color);
  color: var(--button-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.button-sign:active {
  background-color: var(--button-active-color);
}

.logo {
  display: inline-block;
  color: var(--logo-color1);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo1 {
  color: var(--logo-color2);
}

.logo2 {
  color: var(--logo-color3);
}

.social-links {
  width: 206px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-link .item {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.soc-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-shadow: none;
          box-shadow: none;
  fill: var(--icon-color);
  -webkit-transition: fill 250ms var(--function), background-color 250ms var(--function);
  transition: fill 250ms var(--function), background-color 250ms var(--function);
}

.social-link .item + .item {
  margin-left: 10px;
}

.soc-link:hover,
.soc-link:focus {
  background-color: var(--hover-color);
  fill: #FFFFFF;
}

header {
  border-bottom: 1px solid var(--header-border-color);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .link,
.contacts .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.nav .item + .item {
  margin-left: 50px;
}

.nav a {
  -webkit-transition: color 250ms var(--function);
  transition: color 250ms var(--function);
}

.nav a:hover,
.nav a:focus {
  color: var(--hover-color);
}

.nav .current {
  position: relative;
  color: var(--hover-color);
}

.nav .current::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--hover-color);
}

.nav .portfolio-current::after {
  width: 78px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contacts .item + .item {
  margin-left: 50px;
}

.contacts .link {
  color: var(--description-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts a {
  -webkit-transition: color 250ms var(--function);
  transition: color 250ms var(--function);
}

.contacts a:hover,
.contacts a:focus {
  color: var(--hover-color);
}

.icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-bgc-color);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/bgc.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bgc.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero .h1 {
  margin-bottom: 30px;
  color: var(--hero-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantage .item {
  width: 270px;
}

.advantage .h3 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.icon-advantage {
  height: 120px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--advantage-icon);
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--description-color);
}

.team-section {
  background-color: var(--team-bgc-color);
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.thumb {
  position: relative;
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team .item {
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}/*# sourceMappingURL=main.css.map */