.logo {
    display: inline-block;
    color: var(--logo-color1);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo1 {
    color: var(--logo-color2);
}

.logo2 {
    color: var(--logo-color3);
}