.social-links {
    width: 206px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.social-link {
    display: flex;
}

.social-link .item {
    border-radius: 0;
    box-shadow: none;
}

.soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    box-shadow: none;
    fill: var(--icon-color);

    transition:
        fill 250ms var(--function),
        background-color 250ms var(--function);

}

.social-link .item+.item {
    margin-left: 10px;
}

.soc-link:hover,
.soc-link:focus {

    background-color: var(--hover-color);
    fill: #FFFFFF;
}