body {
    background-color: var(--bgc-color);
    color: var(--title-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
    padding: 0;
}
.list {
    list-style: none;
}

a,
.link {
    text-decoration: none;
    font-style: normal;
    color: inherit;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;

    &--works {
        padding-top: 0;
    }

    &--team {
        background-color: var(--team-bgc-color);
    }

}

.title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}