:root {
    --bgc-color: #FFFFFF;
    --title-color: #212121;
    --logo-color1: #2196F3;
    --logo-color2: #000000;
    --logo-color3: #FFFFFF;
    --hero-text-color: #FFFFFF;
    --hero-bgc-color: #C4C4C4;
    --header-border-color: #ECECEC;
    --button-text-color: #FFFFFF;
    --button-bgc-color: #2196F3;
    --button-active-color: #188CE8;
    --button-project-bgc: #F5F4FA;
    --description-color: #757575;
    --hover-color: #2196F3;
    --footer-bgc-color: #2F303A;
    --footer-adress-color: #FFFFFF;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --advantage-icon: #F5F4FA;
    --team-bgc-color: #F5F4FA;
    --project-border: #EEEEEE;
    --icon-color: #AFB1B8;
    --function: cubic-bezier(0.4, 0, 0.2, 1);
}